<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div style="text-align: center; color: #dedede; font-size: 0.9em;">
      <p style="margin-bottom: 5px;">
        <strong>Republic of Information Technology (RIT)</strong>
      </p>
      <p style="margin-top: 5px;">
        Papan Misi untuk menemukan proyek dan berkolaborasi. Dikelola oleh komunitas RIT.
      </p>
       <p style="font-size: 0.9em; margin-top: 10px;">
        &copy; 2025
      </p>
    </div>
  </div>

</footer>